.scrolled {
  position: fixed;
  background: #fff;
  opacity: 0.9;
  border-bottom: 1px solid #46aaff;
  transition: 0.3s ease;
  z-index: 10;
}

#nav {
    transition: 0.3s ease;
}

.hooman {
  justify-content: center;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px solid #46aaff;
  z-index: 10;
  margin-bottom: 2%;
}
.hooman {
  position: sticky;
  top: 0;
  background: #fff;
}

.nav-link.active p {
  color: #0056b3;
}

/* .ml-auto {
  text-align: right;
  float: right;
  width: 40%;
} */

.nada {
  font-size: 15px;
  font-weight: 600;
  color: black;
  height: 35px;
}

.er {
  margin-top: -2%;
}

.er Button {
  color: #46aaff;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #46aaff;
}

.nada p {
  color: #46aaff;
}

.er Button:hover {
  background-color: #46aaff;
}
.nada:hover p {
  color: #0056b3;
}

.hidden {
  display: none;
  transition: 0.3s ease;
}
.nav-link p {
  width: -moz-max-content;
}
.nav-link:focus{
  outline: none;
}
.navbar-brand:focus {
  outline: none;
}
.hide {
    height: 20px;
    text-align: right;
    background-color: #70b8f7;
    transition: 0.3s ease;

}

.hide p{
    font-size: 12.5px;
    font-weight: 350;
    margin-right: 15%;
    color: white;
    transition: 0.3s ease;
}