/* Icons Css */
.sticky_icons{
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1rem .75rem;
    position: -webkit-sticky;
    position: sticky;
    top: 206px;
    float: right;
    z-index: 99;
  }
  .sticky_icons .list-unstyled {
    padding-left: 0px;
    list-style: none;
  }
  
  .sticky_icons .list-unstyled dl, ol, ul {
    margin-top: 0px;
    margin-bottom: 1rem;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  /* ------------------------------------------------- */
  /* ---------------Banner Css */
  .banner-section .container{
      color: white;
      
  }
  .banner-section h1{
    font-size: 52.6px;
    font-weight: 645;
    color: #46aaff;
    text-align: start;
  }
  .banner-section h3{
    font-size: 21.3px;
    font-weight: 322;
  }
  .team-thumb {
    border-radius: 10px;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
    margin: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}.team-image {
  margin-left: 20px;
  margin-right: 20px;
}
.team-info {
  text-align: center !important;
  padding: 20px 30px 0px 30px;
}
.team-thumb .social-icon {
  padding: 0px !important;
}
.team-thumb .social-icon {
  border-top: 1px solid #f0f0f0;
  padding: 4px 20px 0 20px;
}
.team-thumb .social-icon li a {
  margin: 0px;
}
.team-thumb .social-icon li a {
  background: #ffffff;
  color: #252020;
}
.social-icon li a {
  border-radius: 100px;
  color: #F44336;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  margin: 5px 5px 5px 0;
}
.owl-item img {
  display: block;
  width: 100%;
}
.team-image img {
  padding-top: 20px !important;
  width: 100%;
}
.social-icon li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}
.team-thumb .social-icon {
  padding: 0px !important;
}
.team-thumb .social-icon {
  border-top: 1px solid #f0f0f0;
  padding: 4px 20px 0 20px;
}
.social-icon {
  text-align: center;
}
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}
  .banner-section a{
    color:white;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #00ffc8;
    background-color: #00ffc8;
  }
  
  .banner-section a:hover {
    background-color: #fff;
    border-color:#00ffc8;
    color:#00ffc8;
  }
  .banner-section .imgBanner{
  
  }
  .banner-secion .imglogos{
  }


  /* --------------------------------------------------- */

  