*{
    margin: 0;
    padding: 0;
}

.split{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}


.centerR {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centerL {
    position: relative;
    top: 40%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
    padding-left: 10%;
}

#left {
    text-align: left;
}

.left Input[type="email"] {
    margin-top: 20px;
    height: 50px;
    width: 90%;
    border-radius: 5px;
    border-color: #46aaff;
    padding-left: 10px;
}

.left Input[type="password"]  {
    margin-top: 20px;
    height: 50px;
    width: 90%;
    border-radius: 5px;
    border-color: #46aaff;
    padding-left: 10px;
}

.left button {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-color: #46aaff;
    border-radius: 5px;
    font-weight: 400px;
    color: white;
}


.left button:hover {
    background-color: white;
    color: #46aaff;
}

a {
    text-decoration: none;
}


@media screen and (max-width:750px) {
    .split{
        height: 150vh;
    }
    .centerL {
        top: 60%;
        left: 0;
        transform: translate(0, -50%);
        text-align: center;
        padding-left: 10%;
    }
    
}

  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d6d1d5;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #bbb;
  }
  
  button {
    min-width: 20%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-left: 0.25em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
  }
  button:hover {
    background-color: #4A4E69;
    color: #fefefe;
    border-style: solid;
    border-color: #46aaff;
  }
  
  .error {
    color:#db2269;
    font-size: 0.8em;
    display: relative;
  }
  
  .fullName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .email,
  .password {
    width: 100%;
  }
  
  .submit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }