.footer {
  background: -webkit-linear-gradient(to right, #46aaff, #7ec1fc);
  background: linear-gradient(to right,  #46aaff, #7ec1fc);
  color: #fff;
}

.footer ul{
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    color: white;
    margin-top: 5%;

}
.footer ul li{
    text-decoration: none;
    color: white;
    margin-left: 0%;
    margin-top: 2%;
}

.footer ul li a{
    color: #fff;
    font-size: 20px;
}

.footer .last-one p{
    font-size: 13px;
    line-height: 4px;
}
.footerUl li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerUl li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 5px;
}