body {
    overflow-x: hidden;
    font-family: "Flexo-Bold";
    font-size: 16px;
}

/* Toggle Styles */

#viewport {
    padding-left: 190px;
}

#content {
    width: 100%;
    height: 100;
    position: relative;
    margin-right: 0;
    background-color: rgba(255, 0, 0, 0.07);
}

/* Sidebar Styles */



#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 200px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #4BE6FF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #4BE6FF;
    font-size: 30px;
    line-height: 52px;
    text-align: center;
    /* border-bottom: 1px solid #455A64; */
}

#sidebar header a {
    color: white;
    display: block;
    text-decoration: none;
}


#sidebar .nav {}

#sidebar .nav a {
    background: none;
    /* border-bottom: 1px solid #455A64; */
    color: #3A5BBB;
    font-size: 18px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    background: none;
    color: white;
}

#sidebar .nav a i {
    margin-right: 16px;
}

#sidebar li{
    padding-top: 20px;
}

#sidebar hr{
    border-top:  1px solid rgba(78, 77, 77, 0.15);
    color: #3a5bbb;
}


.navbar-default:before{
    content: '';
    position: absolute;
    bottom: -15%;
    left:0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    filter: blur(10px);
}







